This file useses the purchases of the four FAs that we could find (2239-5-LR21, 2239-8-LR23, 2239-4-LR17 and ID 2239-20-LP13 ) and does the following things: 
1. Joins them 
2. merges them with the car data
3. estimates a demand model

In [244]:
import os
import pandas as pd
from pandasgui import show
import socket
import numpy as np
from unidecode import unidecode
import unicodedata
from difflib import SequenceMatcher
from fuzzywuzzy import process, fuzz

### Functions

In [245]:
def clean_text(text):
    if isinstance(text, str):
        return unidecode(text)
    return text


def fix_encoding(text):
    if isinstance(text, str):
        replacements = {
            'Ã³': 'ó',
            'Ã­': 'í',
            'Ã¡': 'á',
            'Ã©': 'é',
            'Ã±': 'ñ',
            'Ãº': 'ú',
            'Ã¼': 'ü',
            'Ã': 'í'
        }
        for wrong, right in replacements.items():
            text = text.replace(wrong, right)
    return text

def process_prices(df):
    """
    Process prices in a dataframe according to specific rules using vectorized operations:
    1. Process all prices in scientific notation first
    2. For remaining prices with commas, remove everything after the comma
    3. For USD prices, multiply by 700
    
    Parameters:
    df (pd.DataFrame): Input dataframe with Moneda and Precio Unitario columns
    
    Returns:
    pd.DataFrame: Processed dataframe
    pd.DataFrame: Rows with processing issues
    """
    # Create a copy to avoid modifying the original
    df_processed = df.copy()
    
    # Ensure the required columns exist
    required_cols = ['Moneda', 'Precio Unitario']
    if not all(col in df_processed.columns for col in required_cols):
        raise ValueError(f"Missing required columns. Need: {required_cols}")
    
    # Convert Precio Unitario to string type for string operations
    df_processed['Precio Unitario'] = df_processed['Precio Unitario'].astype(str)
    
    # Create masks for different conditions
    has_scientific_notation = df_processed['Precio Unitario'].str.contains('e', case=False, na=False)
    has_comma_mask = df_processed['Precio Unitario'].str.contains(',', na=False)
    is_usd_mask = df_processed['Moneda'] == 'USD'
    
    # 1. Process scientific notation first
    scientific_values = df_processed[has_scientific_notation]['Precio Unitario']
    if not scientific_values.empty:
        # Replace comma with dot for proper float conversion
        scientific_values = scientific_values.str.replace(',', '.')
        df_processed.loc[has_scientific_notation, 'Precio Unitario'] = (
            pd.to_numeric(scientific_values, errors='coerce')
        )
    
    # 2. Process remaining prices with commas (excluding already processed scientific notation)
    remaining_comma_mask = has_comma_mask & ~has_scientific_notation
    if any(remaining_comma_mask):
        df_processed.loc[remaining_comma_mask, 'Precio Unitario'] = (
            df_processed.loc[remaining_comma_mask, 'Precio Unitario']
            .str.split(',')
            .str[0]
        )
    
    # Convert all prices to numeric
    df_processed['Precio Unitario'] = pd.to_numeric(df_processed['Precio Unitario'], errors='coerce')
    
    # 3. Multiply USD prices by 700
    df_processed.loc[is_usd_mask, 'Precio Unitario'] = df_processed.loc[is_usd_mask, 'Precio Unitario'] * 700
    
    # Find problematic rows (where conversion to numeric failed)
    problematic_rows = df_processed[df_processed['Precio Unitario'].isna()].copy()
    print(f"Number of problematic rows: {len(problematic_rows)}")

    return df_processed

## Read the purchases for the FAs and join them

In 2017 we have also leases and repairs of cars. This has to be fixed.

In [246]:
transac_cm_2013_path = os.path.join('..', 'interm_data', 'yearly_data', 'Transacciones', 'transacciones_cm_2013.csv')
transac_cm_2013_df = pd.read_csv(transac_cm_2013_path)
print(f"Dimensions of transac_cm_2013_df: {transac_cm_2013_df.shape}")
transac_cm_2013_df.head()

Dimensions of transac_cm_2013_df: (0, 1)

Empty DataFrame
Columns: [Unnamed: 0]
Index: []

### 2017

In [247]:
transac_cm_2017_path = os.path.join('..', 'interm_data', 'yearly_data', 'Transacciones', 'transacciones_cm_2017.csv')
transac_cm_2017_df = pd.read_csv(transac_cm_2017_path)
transac_cm_2017_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)
print(f"Dimensions of transac_cm_2017_df: {transac_cm_2017_df.shape}")

# Extract the year from the 'Fecha Envío OC' column
transac_cm_2017_df['year'] = pd.to_datetime(transac_cm_2017_df['Fecha Envío OC']).dt.year

# Count the number of observations for each year
year_counts = transac_cm_2017_df['year'].value_counts().sort_index()
print(year_counts)

nro_counts = transac_cm_2017_df['Nro Licitación Pública'].value_counts().sort_index() 
print(nro_counts)

transac_cm_2017_df.head()
transac_cm_2017_df = process_prices(transac_cm_2017_df)

Dimensions of transac_cm_2017_df: (19997, 45)
year
2018    3574
2019    6056
2020    5174
2021    5193
Name: count, dtype: int64
Nro Licitación Pública
2239-4-LR17    19997
Name: count, dtype: int64
Number of problematic rows: 0

clean the 2017 data

In [248]:
#clean based on the 'Convenio Marco' column
convenio_aux = transac_cm_2017_df['Convenio Marco'].unique()
#print(convenio_aux)
transac_cm_2017_df = transac_cm_2017_df[transac_cm_2017_df['Convenio Marco'] == 'Compra de Vehículos Livianos y Medianos']


#clean based on the 'Tipo de Producto' column (drop Productos with less than 30 observations, they were weird products like 'City car' or 'oficinas moviles')
counts = transac_cm_2017_df['Tipo de Producto'].value_counts()
print(counts)
to_drop = counts[counts < 30].index
transac_cm_2017_df = transac_cm_2017_df[
    ~transac_cm_2017_df['Tipo de Producto'].isin(to_drop)
]
transac_cm_2017_df = transac_cm_2017_df[transac_cm_2017_df['Tipo de Producto'] != 'MANTENCIÓN PREVENTIVA VEHÍCULO LIVIANO Y MEDIANO']

Tipo de Producto
MANTENCIÓN PREVENTIVA VEHÍCULO LIVIANO Y MEDIANO    14843
CAMIONETA                                            1178
SUV                                                   554
MINIBUS                                               349
SEDÁN                                                 234
AMBULANCIAS                                           184
VEHÍCULOS POLICIALES                                  119
CAMIÓN LIVIANO                                        103
FURGÓN                                                 87
HATCHBACK                                              41
CITY CAR                                               29
OFICINAS MOVILES                                        4
VEHÍCULO TRASLADO MENORES                               3
VEHÍCULO TRASLADO INTERNOS                              2
Name: count, dtype: int64

In [249]:
# check that the data makes sense and is clean
counts = transac_cm_2017_df['Tipo de Producto'].value_counts()
print(counts)
summary_precio_unitario = transac_cm_2017_df['Precio Unitario'].describe()
print(summary_precio_unitario)

Tipo de Producto
CAMIONETA               1178
SUV                      554
MINIBUS                  349
SEDÁN                    234
AMBULANCIAS              184
VEHÍCULOS POLICIALES     119
CAMIÓN LIVIANO           103
FURGÓN                    87
HATCHBACK                 41
Name: count, dtype: int64
count    2.849000e+03
mean     1.761404e+07
std      1.023039e+07
min      4.058600e+06
25%      1.269076e+07
50%      1.535040e+07
75%      1.899000e+07
max      1.240800e+08
Name: Precio Unitario, dtype: float64

### 2021

In [250]:
transac_cm_2021_path = os.path.join('..', 'interm_data', 'yearly_data', 'Transacciones', 'transacciones_cm_2021.csv')
transac_cm_2021_df = pd.read_csv(transac_cm_2021_path)
transac_cm_2021_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)
print(f"Dimensions of transac_cm_2021_df: {transac_cm_2021_df.shape}")

 # Fix weird characters in columns and in text 
#transac_cm_2021_df.columns = [clean_text(col) for col in transac_cm_2021_df.columns]
#for column in transac_cm_2021_df.select_dtypes(include=['object']).columns:
#    transac_cm_2021_df[column] = transac_cm_2021_df[column].apply(clean_text)



transac_cm_2021_df.columns = [fix_encoding(col) for col in transac_cm_2021_df.columns]
for column in transac_cm_2021_df.select_dtypes(include=['object']).columns:
    transac_cm_2021_df[column] = transac_cm_2021_df[column].apply(fix_encoding)


transac_cm_2021_df['year'] = pd.to_datetime(transac_cm_2021_df['Fecha Envío OC']).dt.year


# Count the number of observations for each year
year_counts = transac_cm_2021_df['year'].value_counts().sort_index()
print(year_counts)

nro_counts = transac_cm_2021_df['Nro Licitación Pública'].value_counts().sort_index() 

print(nro_counts)

transac_cm_2021_df = process_prices(transac_cm_2021_df)
transac_cm_2021_df.head()

Dimensions of transac_cm_2021_df: (1071, 45)
year
2021      7
2022    277
2023    721
2024     66
Name: count, dtype: int64
Nro Licitación Pública
2239-5-LR21    1071
Name: count, dtype: int64
Number of problematic rows: 0

,Nro Licitación Pública,Id Convenio Marco,Convenio Marco,CodigoOC,NombreOC,Fecha Envío OC,EstadoOC,Proviene de Gran Compra,idGranCompra,Especificación del Comprador,...,Nombre Empresa,Comuna del Proveedor,Región del Proveedor,Observaciones,Forma de Pago,Orgcode_Comprador,Entcode_Comprador,Orgcode_Proveedor,Entcode_Proveedor,year
0,2239-5-LR21,5800296.0,CM Adquisición de Vehículos SUV y Camionetas (...,2564-270-CM21,Orden de Compra: 2564-270-CM21,2021-10-20,Enviada a Proveedor,No,NaN,(1840093) CAMIONETAS MAXUS T60 T60 DX 4X4 MAC...,...,Mediterraneo Automotores S.A.,NaN,NaN,Orden de Compra codigo: 2564-270-CM21 dirigida...,30 días contra la recepción conforme de la fac...,3555.0,92414.0,824156,27979,2021
1,2239-5-LR21,5800296.0,CM Adquisición de Vehículos SUV y Camionetas (...,4360-75-CM21,Camioneta maxus d/c 4x4,2021-12-24,Enviada a Proveedor,No,NaN,(1840095) CAMIONETAS MAXUS T60 T60 DX 4X4 MAC...,...,Mediterraneo Automotores S.A.,NaN,NaN,Orden de Compra codigo: 4360-75-CM21 dirigida ...,30 días contra la recepción conforme de la fac...,5277.0,135561.0,824156,27979,2021
2,2239-5-LR21,5800296.0,CM Adquisición de Vehículos SUV y Camionetas (...,3140-819-CM21,"Orden de Compra: 3140-819-CM21, ADQUISICIíN D...",2021-12-21,Enviada a Proveedor,No,NaN,(1848052) CAMIONETA NISSAN NAVARA DC SE 2.3D M...,...,SALINAS Y FABRES SOCIEDAD ANONIMA,NaN,NaN,Orden de Compra codigo: 3140-819-CM21 dirigida...,30 días contra la recepción conforme de la fac...,4061.0,113735.0,26569,26778,2021
3,2239-5-LR21,5800296.0,CM Adquisición de Vehículos SUV y Camionetas (...,1084170-110-CM21,Camioneta para Uso del SLEP,2021-12-28,Recepción Conforme,No,NaN,(1840060) CAMIONETAS MAHINDRA PIK UP PICK UP R...,...,BRUNO FRITSCH S.A.,NaN,NaN,1.\tAceptar la OC y facturar después de entreg...,30 días contra la recepción conforme de la fac...,1084170.0,1675231.0,24507,24823,2021
4,2239-5-LR21,5800296.0,CM Adquisición de Vehículos SUV y Camionetas (...,4236-722-CM21,Orden de Compra: 4236-722-CM21,2021-12-29,Aceptada,No,NaN,(1848008) CAMIONETA TOYOTA HILUX 4X4 2.4 MT DX...,...,Maritano y Ebensperger Ltda.,NaN,NaN,Orden de Compra codigo: 4236-722-CM21 dirigida...,30 días contra la recepción conforme de la fac...,5154.0,127036.0,62896,61164,2021

clean the 2021 data

In [251]:
#not necessary to do anything with Convenio Marco, since there is no subletting in 2021
convenio_aux = transac_cm_2021_df['Convenio Marco'].unique()
#print(convenio_aux)

# not necessary to do anything with Tipo de Producto since there are only SUVs and pick-ups
counts = transac_cm_2021_df['Tipo de Producto'].value_counts()
print(counts)

# check that the data makes sense and is clean
counts = transac_cm_2021_df['Tipo de Producto'].value_counts()
print(counts)
summary_precio_unitario = transac_cm_2021_df['Precio Unitario'].describe()
print(summary_precio_unitario)

Tipo de Producto
CAMIONETA    800
SUV          271
Name: count, dtype: int64
Tipo de Producto
CAMIONETA    800
SUV          271
Name: count, dtype: int64
count    1.071000e+03
mean     1.965587e+07
std      5.451048e+06
min      7.651600e+06
25%      1.579042e+07
50%      1.842240e+07
75%      2.419873e+07
max      3.818530e+07
Name: Precio Unitario, dtype: float64

### merge 2021 data with auctions data

The merging criteria should be 
1. Marca(transactions) coincides with Marca(auction)
2. Macrozona(transactions, created) coincides with Macrozona(auction), 
3. Tipo de Producto (transactions) coincides with Categoria (auction)
4. Rut proveedor (transactions) coincides with Rut(auction)

In [252]:
#1. create a merge variable in transactions data 
transac_cm_2021_df['Macrozona'] = transac_cm_2021_df['Producto'].str.extract(r'MACROZONA\s+(\w+)')
transac_cm_2021_df['exact_merge_var'] = (transac_cm_2021_df['Marca'].astype(str) + ' '
                                        + transac_cm_2021_df['Macrozona'].astype(str) + ' '
                                        + transac_cm_2021_df['Tipo de Producto'].astype(str) + ' '
                                        + transac_cm_2021_df['Rut Proveedor'].astype(str))

transac_cm_2021_df['exact_merge_var'] = transac_cm_2021_df['exact_merge_var'].str.upper()

#show(transac_cm_2021_df)

In [253]:
#2. import the acution data and create a merge variable
auction_path = r"C:\Users\lucas\OneDrive - Yale University\Documents\GitHub\2nd-year-paper\interm_data\CM_auctions"
auction_df = pd.read_excel(os.path.join(auction_path, 'auction21.xlsx'))


#2.1 create the matching variable 
print(auction_df.columns)
auction_df.loc[auction_df['Categoría_x'] == 'Camionetas', 'Categoría_x'] = 'CAMIONETA'
auction_df['exact_merge_var'] = (auction_df['Marca_x'].astype(str) + ' '
                                        + auction_df['Macrozona_x'].astype(str) + ' '
                                        + auction_df['Categoría_x'].astype(str) + ' '
                                        + auction_df['RUT_x'].astype(str))
auction_df['exact_merge_var'] = auction_df['exact_merge_var'].str.upper()

#2.2 keep only observations that were selected in the auction stage. 
print(auction_df['Estado Final'].unique())
auction_df = auction_df[auction_df['Estado Final'] == 'ADJUDICA']


#auction_df.sort_values(by='Marca', inplace=True)
auction_df.sort_values(by='exact_merge_var', inplace=True)
#show(auction_df)

Index(['RUT_x', 'Nombre_x', 'Estado Anterior_x', 'Categoría_x', 'Vehículo',
       'Macrozona_x', 'Gama_x', 'Pgm', 'Puntaje Precio_x', 'PUNTAJE OFERTA',
       'Estado Final', 'Marca_x', 'Precio', 'Modelo', 'Versión',
       'Precio + Despacho', 'Precio Macrozona-Gama', 'Puntaje Precio_y'],
      dtype='object')
['INADMISIBLE' 'ADJUDICA' 'No Adjudica']

In [254]:
# 3. merge the two datasets
transac_cm_2021_df['Index'] = transac_cm_2021_df.index + 1

# Merge on 'exact_merge_var'
merged_df = transac_cm_2021_df.merge(auction_df, on='exact_merge_var', how='left', indicator=True)

# 1. Calculate the share of observations in auction_21 that are merged
share_merged = merged_df['_merge'].value_counts(normalize=True).get('both', 0)
print(f"Share of observations in auction_21 that are merged: {share_merged:.2%}")

# 2. Create a variable that counts how many matches are found in the other file
match_counts = auction_df.groupby('exact_merge_var').size()
transac_cm_2021_df['match_count'] = transac_cm_2021_df['exact_merge_var'].map(match_counts).fillna(0).astype(int)

#unmatched_df = merged_df[merged_df['_merge'] == 'left_only']
#print(unmatched_df.shape)

#show(merged_df)

Share of observations in auction_21 that are merged: 32.02%

In [255]:
# 4. keep only one obs in cases with various matches 

#4.1 create the variables to compute similarity 
#print(merged_df.columns)
merged_df['Vehículo_y'] = merged_df['Marca'].astype(str) + ' '  + merged_df['Modelo_x'].astype(str)
merged_df['Vehículo_y'] = merged_df['Vehículo_y'].str.upper()
merged_df['Vehículo'] = merged_df['Vehículo'].str.upper()


#4.2 create the similarity measure 
merged_df['Vehículo'] = merged_df['Vehículo'].fillna('').astype(str).str.upper()
merged_df['Vehículo_y'] = merged_df['Vehículo_y'].fillna('').astype(str).str.upper()
def calculate_similarity(a, b):
    return SequenceMatcher(None, a, b).ratio()
merged_df['similarity'] = merged_df.apply(
    lambda row: calculate_similarity(row['Vehículo'], row['Vehículo_y']), axis=1
)

# 4.3. For observations where match_count_x > 1, keep only the observation with the highest similarity
merged_df = merged_df.loc[
    merged_df.groupby('Index')['similarity'].idxmax()
]
#show(merged_df)

# 5. rename the merged_df 
transac_cm_2021_df = merged_df.copy()
transac_cm_2021_df['Modelo'] = transac_cm_2021_df['Modelo_x']
#show(transac_cm_2021_df)

### 2023

import 2023 data

In [256]:
transac_cm_2023_path = os.path.join('..', 'interm_data',  'yearly_data', 'Transacciones', 'transacciones_cm_2023.csv')
transac_cm_2023_df = pd.read_csv(transac_cm_2023_path)
transac_cm_2023_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)
print(f"Dimensions of transac_cm_2023_df: {transac_cm_2023_df.shape}")

transac_cm_2023_df.columns = [fix_encoding(col) for col in transac_cm_2023_df.columns]
for column in transac_cm_2023_df.select_dtypes(include=['object']).columns:
    transac_cm_2023_df[column] = transac_cm_2023_df[column].apply(fix_encoding)


transac_cm_2023_df['year'] = pd.to_datetime(transac_cm_2023_df['Fecha Envío OC']).dt.year


# Count the number of observations for each year
year_counts = transac_cm_2023_df['year'].value_counts().sort_index()
print(year_counts)

nro_counts = transac_cm_2023_df['Nro Licitación Pública'].value_counts().sort_index() 
print(nro_counts)

transac_cm_2023_df = process_prices(transac_cm_2023_df)


transac_cm_2023_df.head()

Dimensions of transac_cm_2023_df: (366, 45)
year
2024    366
Name: count, dtype: int64
Nro Licitación Pública
2239-8-LR23    366
Name: count, dtype: int64
Number of problematic rows: 0

,Nro Licitación Pública,Id Convenio Marco,Convenio Marco,CodigoOC,NombreOC,Fecha Envío OC,EstadoOC,Proviene de Gran Compra,idGranCompra,Especificación del Comprador,...,Nombre Empresa,Comuna del Proveedor,Región del Proveedor,Observaciones,Forma de Pago,Orgcode_Comprador,Entcode_Comprador,Orgcode_Proveedor,Entcode_Proveedor,year
0,2239-8-LR23,5802342.0,Convenio Marco de Adquisición de Vehículos,4062-187-CM24,Orden de Compra: 4062-187-CM24,2024-03-12,Recepcion Conforme,No,NaN,(2042525) CAMIONETA MAXUS T60 E6 GL 4X4 MT 202...,...,AUTOMOTRIZ SERVIMAQ SPA,NaN,NaN,Orden de Compra codigo: 4062-187-CM24 dirigida...,30 dias contra la recepcion conforme de la fac...,4982,120001,100329,97856,2024
1,2239-8-LR23,5802342.0,Convenio Marco de Adquisición de Vehículos,3577-41-CM24,Orden de Compra: 3577-41-CM24,2024-03-14,Aceptada,No,NaN,(2041399) CAMIONETA TOYOTA HILUX DX 2.4 4X4 MT...,...,BRUNO FRITSCH S.A.,NaN,NaN,Orden de Compra codigo: 3577-41-CM24 dirigida ...,30 dias contra la recepcion conforme de la fac...,4497,115285,24507,24823,2024
2,2239-8-LR23,5802342.0,Convenio Marco de Adquisición de Vehículos,3030-177-CM24,CAMIONETA JMC PARA DEPTO. DE SALUD,2024-03-14,Aceptada,No,NaN,(2041534) CAMIONETA JMC VIGUS NEW WORK 4X4 MT ...,...,AUTOMOTRIZ CORDILLERA S.A.,NaN,NaN,CAMIONETA JMC VIGUS NEW WORK 4X4 MT 2024 PARA ...,30 dias contra la recepcion conforme de la fac...,3978,113252,32639,32414,2024
3,2239-8-LR23,5802342.0,Convenio Marco de Adquisición de Vehículos,2381-308-CM24,ADQUISICIíN DE 01 CAMIONETA TODO TERRENO PARA...,2024-03-18,Aceptada,No,NaN,(2041392) CAMIONETA TOYOTA HILUX DX 2.4 4X4 MT...,...,BRUNO FRITSCH S.A.,NaN,NaN,ADQUISICIíN DE 01 CAMIONETA TODO TERRENO PARA...,30 dias contra la recepcion conforme de la fac...,3373,86872,24507,24823,2024
4,2239-8-LR23,5802342.0,Convenio Marco de Adquisición de Vehículos,316-212-CM24,Orden de Compra: 316-212-CM24,2024-03-20,Aceptada,No,NaN,(2041566) CAMIONETA JMC VIGUS NEW PLUS 4X4 MT ...,...,AUTOMOTRIZ CORDILLERA S.A.,NaN,NaN,Orden de Compra codigo: 316-212-CM24 dirigida ...,30 dias contra la recepcion conforme de la fac...,1313,7233,32639,32414,2024

clean the 2023 data

In [257]:
#not necessary to do anything with Convenio Marco, since there is no subletting in 2023
convenio_aux = transac_cm_2023_df['Convenio Marco'].unique()
#print(convenio_aux)

# clean based on the 'Tipo de Producto' column
counts = transac_cm_2023_df['Tipo de Producto'].value_counts()
#print(counts)
to_drop = ['RETROEXCAVADORA','BUS PESADO' ]
transac_cm_2023_df = transac_cm_2023_df[
    ~transac_cm_2023_df['Tipo de Producto'].isin(to_drop)
]


# Normalize text by removing accents
transac_cm_2023_df['Tipo de Producto'] = transac_cm_2023_df['Tipo de Producto'].apply(
    lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode('ASCII')
)

# Step 1: Create a mapping dictionary for all variations
replacements = {
    'SEDiN': 'SEDÁN',
    'FURGiN' : 'FURGÓN'
}

# Step 2: Replace all variations using the mapping
transac_cm_2023_df['Tipo de Producto'] = transac_cm_2023_df['Tipo de Producto'].replace(replacements)

print( transac_cm_2023_df['Tipo de Producto'].value_counts())



# check that the data makes sense and is clean
counts = transac_cm_2023_df['Tipo de Producto'].value_counts()
print(counts)
summary_precio_unitario = transac_cm_2023_df['Precio Unitario'].describe()
print(summary_precio_unitario)

Tipo de Producto
CAMIONETA    211
SUV           83
MINIBUS       31
SEDÁN         21
FURGÓN         8
CARGO          8
Name: count, dtype: int64
Tipo de Producto
CAMIONETA    211
SUV           83
MINIBUS       31
SEDÁN         21
FURGÓN         8
CARGO          8
Name: count, dtype: int64
count    3.620000e+02
mean     2.091208e+07
std      6.801193e+06
min      6.844800e+06
25%      1.642131e+07
50%      2.087100e+07
75%      2.573550e+07
max      5.243080e+07
Name: Precio Unitario, dtype: float64

### Join the purchases from all the different FAs

In [258]:
# Concatenate the dataframes vertically
transac = pd.concat([transac_cm_2017_df, transac_cm_2021_df, transac_cm_2023_df], axis=0)

# Reset the index if needed
transac_df = transac.reset_index(drop=True)
print(transac_df.columns)
print(f"Dimensions of transac_df: {transac_df.shape}")
transac_df.head(2)


output_path = os.path.join('..', 'interm_data', 'yearly_data', 'Transacciones')
transac_df.to_csv(os.path.join(output_path, 'joined_transac.csv'), index=False)

Index(['Nro Licitación Pública', 'Id Convenio Marco', 'Convenio Marco',
       'CodigoOC', 'NombreOC', 'Fecha Envío OC', 'EstadoOC',
       'Proviene de Gran Compra', 'idGranCompra',
       'Especificación del Comprador', 'IDProductoCM', 'Producto',
       'Nombre Producto ONU', 'Tipo de Producto', 'Marca', 'Modelo',
       'Precio Unitario', 'Cantidad', 'TotaLínea(Neto)', 'Moneda',
       'Monto Total OC Neto', 'Descuento Global OC', 'Cargos Adicionales OC',
       'Subtotal OC', 'Impuestos', 'Monto Total OC', 'Rut Unidad de Compra',
       'Unidad de Compra', 'Razón Social Comprador', 'Dirección Unidad Compra',
       'Comuna Unidad Compra', 'Región Unidad de Compra', 'Institución',
       'Sector', 'Rut Proveedor', 'Nombre Proveedor Sucursal',
       'Nombre Empresa', 'Comuna del Proveedor', 'Región del Proveedor',
       'Observaciones', 'Forma de Pago', 'Orgcode_Comprador',
       'Entcode_Comprador', 'Orgcode_Proveedor', 'Entcode_Proveedor', 'year',
       'Modelo_x', 'Macrozona', 'exact_merge_var', 'Index', 'RUT_x',
       'Nombre_x', 'Estado Anterior_x', 'Categoría_x', 'Vehículo',
       'Macrozona_x', 'Gama_x', 'Pgm', 'Puntaje Precio_x', 'PUNTAJE OFERTA',
       'Estado Final', 'Marca_x', 'Precio', 'Modelo_y', 'Versión',
       'Precio + Despacho', 'Precio Macrozona-Gama', 'Puntaje Precio_y',
       '_merge', 'Vehículo_y', 'similarity'],
      dtype='object')
Dimensions of transac_df: (4282, 71)

## Data cleaning

### Remove the observations that are not purchases of cars, but rather maintenance or leases.

Do some cleaning based on Tipo de Producto (this is harmless, already did it for each file)

In [259]:
#%reset -f
output_path = os.path.join('..', 'interm_data', 'yearly_data', 'Transacciones')

In [260]:
df = pd.read_csv(os.path.join(output_path, 'joined_transac.csv'))

print(f"Shape of transac_df: {df.shape}")
tipo_producto_values = df['Tipo de Producto'].unique()
print(tipo_producto_values)

# Create a list of product types to drop
drop_product_types = ['ARRIENDO', 'MANTENCIÓN', 'OFICINAS', 'RODILLO',
                      'PESADO', 'BULL', 'TRASLADO', 'EXCAVA', 'TRACTO', 'ADORA', 'TOLVA', 'CARGADOR', 
                      'VEHÍCULOS POLICIALES', 'AMBULANCIAS']

# Create a regex pattern to match any of the product types in the list
pattern = '|'.join(drop_product_types)

# Drop observations where 'Tipo de Producto' contains an element of the list
drop_mask = ~df['Tipo de Producto'].str.contains(pattern, case=False, na=False)
df = df[drop_mask]
print(f"Shape of transac_df after dropping specified product types: {df.shape}")

Shape of transac_df: (4282, 71)
['MINIBUS' 'SUV' 'CAMIONETA' 'SEDÁN' 'FURGÓN' 'HATCHBACK' 'CAMIÓN LIVIANO'
 'VEHÍCULOS POLICIALES' 'AMBULANCIAS' 'CARGO']
Shape of transac_df after dropping specified product types: (3979, 71)

Do some cleaning based on 'Convenio Marco'  (this is harmless, already did it for each file)

In [261]:
print(f"Shape of transac_df: {df.shape}")
tipo_convenio = df['Convenio Marco'].unique()
print(tipo_convenio)

avg_precio = df.groupby('Convenio Marco')['Precio Unitario'].mean()
print(avg_precio)


# Remove products from FA of heavy and medium heavy vehicles in the Convenio Marco column
heavy_mask = ~df['Convenio Marco'].str.contains('Compra de Vehículos Pesados y Maquinarias', na=False)
df = df[heavy_mask]
print(f"Shape of transac_df: {df.shape}")

Shape of transac_df: (3979, 71)
['Compra de Vehículos Livianos y Medianos'
 'CM Adquisición de Vehículos SUV y Camionetas (Magento)'
 'CM Adquisición de Vehículos SUV y Camionetas'
 'Convenio Marco de  Adquisición de Vehículos']
Convenio Marco
CM Adquisición de Vehículos SUV y Camionetas              2.001232e+07
CM Adquisición de Vehículos SUV y Camionetas (Magento)    1.683101e+07
Compra de Vehículos Livianos y Medianos                   1.487118e+07
Convenio Marco de  Adquisición de Vehículos               2.091208e+07
Name: Precio Unitario, dtype: float64
Shape of transac_df: (3979, 71)

In [262]:
tipo_producto_counts = df['Convenio Marco'].value_counts()
print(tipo_producto_counts)

Convenio Marco
Compra de Vehículos Livianos y Medianos                   2546
CM Adquisición de Vehículos SUV y Camionetas               951
Convenio Marco de  Adquisición de Vehículos                362
CM Adquisición de Vehículos SUV y Camionetas (Magento)     120
Name: count, dtype: int64

In [263]:
#share of 2021 obs for whicch we have auction data
grouped = df.groupby(['Nro Licitación Pública', '_merge']).size().reset_index(name='count')
grouped['total'] = grouped.groupby('Nro Licitación Pública')['count'].transform('sum')
grouped['share'] = grouped['count'] / grouped['total']
print(grouped)

  Nro Licitación Pública     _merge  count  total     share
0            2239-5-LR21       both    296   1071  0.276377
1            2239-5-LR21  left_only    775   1071  0.723623

In [264]:
print(df.value_counts('Nro Licitación Pública'))

Nro Licitación Pública
2239-4-LR17    2546
2239-5-LR21    1071
2239-8-LR23     362
Name: count, dtype: int64

## Pair the variables of the model with the variables of the data     
        
    'IDProductoCM' -> j 
    To create product characteristics: 'Tipo de Producto', 'Marca', 'Nombre Producto ONU'
    'Precio Unitario'-> net not including taxes, just changes the scale of the price parameter 
    'Rut Unidad de Compra' -> i 
    To create the groups (k):  'Región Unidad de Compra', 'Sector'
     'year' -> t 

     'Modelo'-> to do the match with the product characteristics. 
        
Variables not directly paired but which could be useful: 
    'Nro Licitación Pública', 'Id Convenio Marco', 'Convenio Marco', 'CodigoOC', 'Fecha Envío OC', 'Cantidad', 'Rut Proveedor', 
    'Nombre Proveedor Sucursal', 'Orgcode_Comprador', 'Entcode_Comprador',

In [265]:
# Variables to keep - directly paired with model
model_vars = ['IDProductoCM', 'Modelo',  'Tipo de Producto', 'Marca', 'Nombre Producto ONU',
              'Precio Unitario', 'Rut Unidad de Compra', 'Región Unidad de Compra',
              'Sector', 'year']

# Additional useful variables
extra_vars = ['Nro Licitación Pública', 'Convenio Marco', 'CodigoOC',
              'Fecha Envío OC', 'Cantidad', 'Rut Proveedor',
              'Nombre Proveedor Sucursal']

#extra_vars2 = list(auction_df.columns)
#elements_to_remove = ['RUT_x', 'Nombre_x', 'Estado Anterior_x' ]
#extra_vars2 = [x for x in extra_vars2 if x not in elements_to_remove]
extra_vars2 = [ 'Vehículo', 'Macrozona_x', 'Gama_x', 'Pgm', 'Puntaje Precio_x', 'PUNTAJE OFERTA', 
               'Marca_x', 'Precio', 'Modelo', 'Versión', 'Precio + Despacho', 'Precio Macrozona-Gama', 'Puntaje Precio_y', 'exact_merge_var']

# Create new dataframe with only the specified columns
df = df[ model_vars + extra_vars + extra_vars2]

print(f"Dimensions of transac_df: {df.shape}")

Dimensions of transac_df: (3979, 31)

store the data

In [266]:
df.to_csv(os.path.join(output_path, 'joined_cleaned_transac.csv'), index=False)

In [267]:
print(df.value_counts('year'))

year
2019    898
2018    767
2023    721
2020    504
2024    428
2021    384
2022    277
Name: count, dtype: int64

### Answer the following questions 
- are firms selling multiple products? Yes
- What is the share of firms for which we have the auction data? 28%
- what shar of firms have a binding price ceiling?

In [268]:
# Group by supplier and count unique products
supplier_products = df.groupby('Nombre Proveedor Sucursal')['IDProductoCM'].nunique().sort_values(ascending=False)
print(supplier_products)

n_unique_products = df['IDProductoCM'].nunique()
print(f"Total number of unique products: {n_unique_products}")

Nombre Proveedor Sucursal
Salinas y Fabres S.A.                            296
SALAZAR ISRAEL                                   204
Automotores Gildemeister CAMIONES                185
Dercosa                                          143
BRUNO FRITSCH S.A.                               113
Maritano y Ebensperger Ltda.                      92
Mediterraneo Automotores SA                       85
PORTILLO S A - Casa Matriz                        59
Kovacs SpA Seminario 385 Providencia              46
COMERCIAL ANFRUNS Y COMPAíIA SPA                 46
POMPEYO CARRASCO Y CIA. LTDA.                     45
Anfruns Motors SPA                                41
AUTOMOTORA MELHUISH SPA                           38
Comercial Motores de los Andes SpA                36
Curifor Coquimbo                                  34
Derco SPA                                         33
DIFOR CHILE SOCIEDAD ANONIMA                      31
Automotriz Tecnosur Limitada                      29
PORSCHE CHILE SPA                                 27
Kovacs SpA                                        21
PIAMONTE S.A.                                     18
Comasa Movicenter                                 17
HVCCSA                                            16
KIA CHILE SPA                                     15
Guillermo Morales Ltda                            12
Convenio Marco                                    12
SERVIMAQ SPA                                      10
CONVERSIONES SAN JOSE - Vehículos Especiales       8
Ing.de Serv.Automotriz Macias y Cia.Ltda           7
Automotora Comercial Costabal y Echenique S.A      7
ESTEBAN GUIC Y CIA LTDA                            6
DERCOMAQ SPA                                       6
AUTOMOTRIZ PORTILLO S.A. - Casa Matriz             6
KIA                                                5
Cidef Comercial S.A.                               5
MARCELO FRONZA Y CIA LTDA                          5
Honda Motor de Chile S.A.                          4
Automotriz For Center SA                           4
CIDEF S.A                                          4
Cecor S.A.                                         4
PAULINA ANDREA                                     3
AUTOMOTORA INALCO S A                              3
KIA CHILE                                          3
AUTOMOTRIZ GUILLERMO MORALES LIMITADA              3
COVEMIN                                            2
Salinas y Fabres S.A. - Casa Matriz                2
Automotores Gildemeister - Casa Matriz             2
Autocar                                            2
AUTOMOTORA MELHUISH RETAIL SPA                     2
Salinas y Fabres S.A.- Sucursal Rondizzoni         2
COMERCIALIZADORA DITEC AUTOMOVILES S A             1
BUSES                                              1
Frontera                                           1
AUTOMOTRIZ PORTILLO SUR LTDA                       1
SALAZAR ISRAEL Temuco                              1
E. Kovacs SpA                                      1
SUBARU CHILE S.A.                                  1
AUTOMOTORES FRANCO CHILENA  S.A                    1
MARITANO Y EBENSPERGER LTDA                        1
Salinas y Fabres S.A. - Sucursal Punta Arenas      1
Name: IDProductoCM, dtype: int64
Total number of unique products: 1376

In [269]:
print(df.columns)
price_list = [ 'Precio Unitario', 'Pgm', 'Puntaje Precio_x', 'Precio', 'Precio + Despacho', 'Precio Macrozona-Gama']

df_filtered = df[df['Nro Licitación Pública'] == '2239-5-LR21']

df_filtered = df_filtered[price_list]

Index(['IDProductoCM', 'Modelo', 'Tipo de Producto', 'Marca',
       'Nombre Producto ONU', 'Precio Unitario', 'Rut Unidad de Compra',
       'Región Unidad de Compra', 'Sector', 'year', 'Nro Licitación Pública',
       'Convenio Marco', 'CodigoOC', 'Fecha Envío OC', 'Cantidad',
       'Rut Proveedor', 'Nombre Proveedor Sucursal', 'Vehículo', 'Macrozona_x',
       'Gama_x', 'Pgm', 'Puntaje Precio_x', 'PUNTAJE OFERTA', 'Marca_x',
       'Precio', 'Modelo', 'Versión', 'Precio + Despacho',
       'Precio Macrozona-Gama', 'Puntaje Precio_y', 'exact_merge_var'],
      dtype='object')

In [270]:
# Only calculate for observations where neither 'Precio Unitario' nor 'Precio' is missing
df_filtered.loc[df_filtered['Precio Unitario'].notna() & df_filtered['Precio'].notna(), 'binding_ceiling'] = (
    df_filtered['Precio Unitario'] > 1.1*df_filtered['Precio']
).astype(int)
shares = df_filtered['binding_ceiling'].value_counts(normalize=True, dropna=True) * 100

print("Shares for 'binding_ceiling':", shares)

 
# Only calculate for observations where neither 'Precio Unitario' nor 'Precio' is missing
df_filtered['Precio + Despacho'] = pd.to_numeric(df_filtered['Precio + Despacho'], errors='coerce')
df_filtered.loc[df_filtered['Precio Unitario'].notna() & df_filtered['Precio'].notna(), 'binding_ceiling2'] = (
    df_filtered['Precio Unitario'] > 1.1*df_filtered['Precio + Despacho']
).astype(int)
shares = df_filtered['binding_ceiling2'].value_counts(normalize=True, dropna=True) * 100

print("Shares for 'binding_ceiling':", shares)

Shares for 'binding_ceiling': binding_ceiling
1.0    96.283784
0.0     3.716216
Name: proportion, dtype: float64
Shares for 'binding_ceiling': binding_ceiling2
1.0    95.27027
0.0     4.72973
Name: proportion, dtype: float64

In [271]:
# 1. Share of observations where 'Precio Unitario' is greater than 'Precio'
share_precio_unitario_greater = (df_filtered['Precio Unitario'] > df_filtered['Precio']).mean()
share_precio_greater = (df_filtered['Precio Unitario'] <= df_filtered['Precio']).mean()

print(f"Share where 'Precio Unitario' > 'Precio': {share_precio_unitario_greater:.2%}")
print(f"Share where 'Precio' >= 'Precio Unitario': {share_precio_greater:.2%}")

# 2. Average difference when 'Precio Unitario' is less than 'Precio'
average_difference = (df_filtered['Precio'] - df_filtered['Precio Unitario']).mean()

print(f"On average, 'Precio Unitario' is {average_difference:.2f} lower than 'Precio'")
#show(df_filtered)

Share where 'Precio Unitario' > 'Precio': 27.17%
Share where 'Precio' >= 'Precio Unitario': 0.47%
On average, 'Precio Unitario' is -6151351.29 lower than 'Precio'

## Merge product characteristics (still to do, Pablo has to send me the code)

1. take transac_df and obtain a dataset with model-id where model is created in the same way pablo created model to do the web-scraping 
2. do the merge with the web-scraped data of pablo to obtain a dataset with model-id-prod_char 
3. decrease number of models (e.g rav4 and rav4 mt are the same car) to have dataset  model-id-prod_char-id2 where id2 is a more coarse measure of id. 
4. merge with purchases according to id
5. estimate demand based on id2

### 1. take transac_df and obtain a dataset with model-id where model is created in the same way pablo created model to do the web-scraping

In [ ]:
df = pd.read_csv(os.path.join(output_path, 'joined_cleaned_transac.csv'))

# Get value counts as a Series
modelos = df.value_counts('Modelo')

# Iterate through the key-value pairs using .iteritems()
for modelo, count in modelos.items():
    print(f'{modelo}: {count}')

H-1 TQ MB 2.5 CRDI MT 12S FL: 144
NP300 DC SE 2.3D MT 4WD: 92
HILUX 2.4L DX CD 4X4: 69
VIGUS WORK LX 4X4 DIESEL G4: 59
HILUX 2.4 4X4 MT DX: 57
T60 2.8L DX 4X4: 55
T60 DX 4X4: 53
HILUX 4X4 2.4 MT DX: 53
T60 DX 4X2: 35
TUCSON NX4 2.0 AT 4WD PLUS: 33
NEW RAV4 LE 6MT AWD: 32
VIGUS DOBLE CABINA 4X2 DIESEL: 32
NP300 DC SE 2.3D MT: 31
TUCSON NX4 2.0 MT PLUS: 29
HILUX 2.4 4X4 MT SR: 29
H-1  MB 2.5 CRDI 6M/T GLS 10S AC 2AB ABS: 28
NEW DMAX CC 2.5TD 4WD: 27
L200 4X4 KATANA CRM: 27
RAV4 LUJO 2.0 4X4 MT: 26
COLORADO LT MT 2.8TD 4WD M: 26
HILUX 4X4 2.4 MT DX DIESEL: 25
HILUX DX 2.4 4X4 MT 2024: 25
HILUX 2.4 4X2 MT DX (WIDE): 25
T60 4X4 GL MT E6: 24
NAVARA 2.3D DC SE 4X4: 24
HILUX 2.4L DX CD 4X2: 24
NAVARA CD SE 4X4: 23
NP300 DC XE 2.3D MT 4WD: 23
WINGLE 5 G 2.2 4X2 ELITE: 23
POER 2.0L DELUXE 4X4: 22
SAIL NB 1.5L LS: 22
NAVARA NP300 DC SE 2.3D MT: 21
NP300 DC S 2.5 MT: 21
TUCSON TL 2.0 MT 4WD PLUS FL: 20
VENUE QX 1.6 MT PLUS: 20
NAVARA DC SE 2.3D MT 4WD: 20
T60 DX E6 4X4 MT 2024: 20
FRONTIER D/C 2,5 6MT SR DELUXE: 20
H-1 TQ MB 2.5 CRDI MT 10S PE: 20
NAVARA 2.3D DC XE 4X4: 20
PORTER 2.5 CRDI 6M/T GL DC 2AB AC: 20
TRANSIT MINIBUS 17+1: 19
FRONTIER D/C LX 2.5L AV AB MT 2024: 19
L200 4X4 KATANA CRT: 19
HILUX 2.4L SR CD 4X4: 19
NAVARA NP300 DC SE 2.3D MT 4WD: 18
FRONTIER D/C 2.5L 6MT: 17
D-MAX CC 2.5TD 4WD III: 17
WINGLE 5 GASOLINA 4X2 ELITE: 17
X-TRAIL 2.5L EXCLUSIVE 4X4 AUT: 17
X-TRAIL SENSE CVT 4WD 2F: 16
L200 4X2 WORK CR WF: 16
NP300 DC XE 2.5 MT: 15
DMAX CC 2.5TD 4WD III: 15
T60 4X4 DX MT E6: 15
TUCSON TL 2.0 MT PLUS FL: 15
WIDE S-LONG BUS 2.5D MT: 15
HILUX 4X2 2.4 MT DX: 14
BT-50 DOBLE CABINA 2.2 SDX 6MT 4X4 DIESEL (E5): 14
HILUX 2.7 4X2 MT SR GASOLINA: 14
HILUX 2.4 4X2 MT SR: 14
NEW RANGER DSL XL 4X4 2.2L: 14
NP300 DC XE 2.3D MT: 14
CRETA GRAND GRAND SU2I 2.0 AT VALUE: 14
WINGLE7 2.0L ELITE 4X2: 13
NAVARA 2.3D DC XE: 13
VERSA SENSE MT: 12
CRETA GRAND GRAND SU2I 2.0 MT PLUS: 12
NEW D-MAX CC 2.5TD 4WD: 12
VIGUS WORK 2.5L 4X4: 12
NAVARA 2.3D DC SE: 12
NP300 DC LE 2.3D MT 4WD: 12
700 1.4L SLT CD: 12
AMAROK TRENDLINE 4MOTION: 12
TUCSON NX4 2.0 AT VALUE: 12
L-200 D/C 4X4 TD KATANA CRT: 11
NAVARA CD SE 4X2: 11
4RUNNER 4X4 SR5 CONTROL VOLANTE: 11
VIGUS PLUS 2.4L 4X4: 11
KICKS 1.6L SENSE: 11
T60 DX/4X4 : 11
TRAVELLER BUSINESS L3 9 ASIENTOS 2.0 BLUEHDI 150HP MT: 11
L200 KATANA CRT 2.4L 4X4: 11
POER 2.0L ELITE 4X4: 11
TIGGO 2 PRO 1.5L GLS: 10
WINGLE 7 4X2 ELITE 2024: 10
OUTLANDER 2.5L GLS 4X4 7P: 10
POER 2.0L ELITE 4X2: 10
COLORADO 2.8TD LTZ MT 4WD: 9
RAV4 2.0L LE: 9
COLORADO 2.8 CTDI 4X4 LTZ MT: 9
HILUX DX DC 2.4 4X4 MT 2024: 9
NAVARA NP300 DC XE 2.3D MT: 9
FRONTIER D/C 2,5 6MT SR: 9
STARIA MB 2.2 CEDI 11P 2024: 9
G10 MINIBUS 9+1 E6 2024: 9
T60 2.8L DX 4X2: 9
AZERA IG 3.0 AT PREMIUM: 9
GRAND VITARA 1.6 GLX SPORT: 9
4X2 2.4 MT DX: 9
KICKS 1.6L ADVANCE: 8
HILUX DX 2.4 4X2 MT 2024: 8
NAVARA DC SE 2.3D 4X4 MT 2024: 8
T90 4X4 MT E6: 8
QASHQAI SENSE MT: 8
NEW MAZDA6 V 2.0 6AT (CUERO NEGRO): 8
PORTER 2.5 CRDI 6M/T GLS CAMIONETA 2AB AC: 8
NUEVO YARIS SEDAN GLI MT     : 8
HUNTER 1.9L COMFORT 4X4: 8
SANTA FE TM 2.2 CRDI E6 AT 4WD VALUE: 8
OUTLANDER 4X4 GLX AT: 8
ACCENT RB SDN 1.4 6M/T GL 2AB AC: 8
GRAND I-10 BA SDN MT GLS 2AB AC ABS PE: 8
NEW D-MAX CC 2.5TD: 8
RUSH LEI 4X4 MEC: 8
NP300 DC LE 2.3D AT 4WD: 8
L200 4X4 KATANA CRM 4X4: 7
VENUE QX 1.6L MT PLUS: 7
GRAND NOMADE 2.4 GLX NAV: 7
T60 D20 2.0L GL 4X4: 7
H-1 TQ MB 2.5 CRDI MT 9S FL: 7
TUCSON NX4 2.0 MT PLUSÂ  2024: 7
COLORADO LT AT 2.8TD 4WD M: 7
MUSSO GRAND GLX 2.2TD 4X2 AT 2024: 7
VIGUS NEW WORK 4X4 MT 2024: 7
NV350 WIDE S-LONG BUS 2.5D MT: 7
PORTER 2.5 CRDI 6M/T GL DC 2AB: 7
POER 2.0L DELUXE 4X2: 7
SAVEIRO DOBLE CABINA: 7
C-ELYSÉE 1.6 HDI 92 BVM FEEL: 7
X-TRAIL SENSE 2ROW 4X4: 7
TUCSON NX4 2.0 4WD AT PLUSÂ  2024: 6
NV350 2.5L PASAJEROS 15: 6
T60 4X2 GL MT E6: 6
HUNTER 1.9L COMFORT: 6
L200 4X2 WORK CR: 6
T6 2.0L COMFORT 4X2: 6
GRAND I-10 BA SDN MT GL 2AB AC PE: 6
MONTERO SPORT 4X4 MT: 6
FRONTIER D/C 2.5L 6MT DELUXE: 6
DMAX CC 2.5TD III: 6
HILUX SR 2.4 4X4 MT 2024: 6
T8 2.0L COMFORT 4X4: 6
T60 E6 GL 4X4 MT 2024: 6
NUEVA L200 4X4 KATANA CRT: 6
L-200 D/C 4X2 TD WORK CR: 6
X-TRAIL 2.5L SENSE AUT: 6
QUBO DYNAMIC: 6
T90 4X4 AT E6: 6
T60 DX E6 4X2 MT 2024: 6
BT-50 DOBLE CAB 2.2 SDX 6MT 4X4 DIESEL (E5): 6
TUCSON TL 2.0 CRDI MT PLUS FL: 6
NEW DMAX CC 2.5TD 2WD: 6
SANTA FE DM  WGN 2.4 6M/T GLS PE: 5
URBAN 1042 DC MT PLATAFORMA 2024: 5
X-TRAIL EXCLUSIVE CVT 4WD: 5
WINGLE7 2.0L ELITE 4X4: 5
FRONTIER D/C LX 2.5L 6MT AV AB: 5
TUCSON NX4 2.0 AT PLUS: 5
L200 KATANA CRM 4X4: 5
NUEVA L200  4X2 WORK CR: 5
SANTA FE TM 2.4 MT PLUS: 5
FRONTIER P/UP LX 2.5L AV AB MT 2024: 5
NAVARA DC SE 2.3D MT: 5
TUCSON NX4 2.0 AT PLUSÂ  2024: 5
NUEVO YARIS GLI MT: 5
NAVARA CD XE 4X4: 5
NEW RANGER DSL XLS 4X4 3.2L: 5
HILUX 2.4L SR CD 4X2: 5
SPACETOURER 2.0 BLUEHDI 150 S&S BVM6 BUSINESS XL: 5
SUNRAY 1.9L GREEN JET 11+1 PAS: 5
TRACKER II 1.8 FWD LS MT: 5
ALL NEW CX-5 R 2.0 AWD 6AT: 5
CRETA SU2I 1.5 MT PLUS: 5
PICK UP REFRESH DC 4X4 MT WORK: 5
MS201 1.2L PICK-UP PLUS C.AIRE Y DIREC: 5
HILUX 4X2 2.4 MT DX DIESEL: 5
T6 2.0L COMFORT 4X2 DIESEL: 5
VERNA CB 1.4 MT PLUS: 5
ACCENT BN7I 1.5 PLUS 2024: 5
MIDI DOBLE CABINA: 5
HILUX 4X4 2.4 MT SR: 5
WINGLE 5 DIESEL 4X4 DC LUX: 5
NEW MAZDA6 GT 2.5 6AT GPS (CUERO NEGRO): 5
MUSSO GRAND 2.2L LX 4X2: 5
JUMPER L3H2 BLUEHDI 163 S&S BVM6: 4
T60 GL/4X2 : 4
POER 4X4 ELITE PANT 2024: 4
YARIS SEDAN GLI E MT: 4
H-350 FURGON SOLATI CARGO VAN: 4
REFINE M4 EXECUTIVE 11 ASIENTOS: 4
700 1.4L BIGHORN: 4
SAIL NB 1.5 LS ABS L: 4
SANTA FE DM  WGN 2.4 6A/T GLS PE: 4
POER 4X2 ELITE PANT 2024: 4
SANTA FE DM  WGN 2.4 6A/T 4WD GLS FULL PE: 4
GRAND I-10 BA SDN  MT GLS 2AB AC ABS PE: 4
FRONTIER P/UP 2.5L 6MT: 4
GRAND AVENUE 4X4 MT 2024: 4
G10 9+1: 4
NV350 BUS WIDE S-LONG 2.5D MT: 4
TRAVELLER BUSINESS L3 9P BLUEHDI 145 2024: 4
GRAND NOMADE 2.4 2WD AT GLX SPORT: 4
KICKS SENSE MT 2024: 4
KICKS ADVANCE MT 2024: 4
CRETA SU2I 1.5 MT VALUE: 4
NEW RAV4 LE 6MT 2WD: 4
SOLATI H350 : 4
T60 4X2 DX MT E6: 4
SOLATI H350 PASAJEROS: 4
SOLUTO LX 1.4L 5MT G LL 2024: 4
CROSSTREK 2.0I AWD CVT AT 2024: 4
MONTERO SPORT 2.4 DIESEL 4X4 MT: 4
SONET EX 1.5L 6MT ACC PLUS (6AB): 4
CRETA GS 1.6 MT VALUE FL: 4
L200 KATANA CRT 4X4: 4
CRETA GS 1.6 MT PLUS FL: 4
CRETA GRAND SU2i 2.0 AT VALUE: 4
3008 1.2L ACTIVE PURETECH 130HP: 4
VIGUS NEW WORK 4X2 MT 2024: 4
BT-50 DOBLE CABINA 2.2 SDX 6MT 4X4 DIESEL: 4
STARIA MB 2.2 CRDI 4WD 9P LUXURY 2024: 4
N400 MAX II 1.5L MT AC: 4
NAVARA 2.3D DC PRO-4X 4X4 AUT: 4
AZERA IG 3.0 AT LIMITED: 4
RAV4 2.0L LE AUT: 4
AMAROK TRENDLINE 4X2: 4
NUEVA AMAROK TRENDLINE 4MOTION MT: 4
ATOS 1.1L PLUS: 4
WINGLE7 2.0L DELUXE 4X4: 4
T60 DX 4X2 MT 2024: 4
L200 4X2 KATANA CR: 4
ASX 4X2 MT: 4
DUSTER ZEN 2,0 6 MT 4 X 4: 4
DUSTER ZEN TECH 2,0L 6MT 4X2: 4
NEW RAV4 LE MT 4WD: 3
L-200 2.4L KATANA CRT 4X4: 3
IONIQ EV GLS: 3
JIMNY 1.5 GLX: 3
T60 GL 4X4: 3
PORTER  2.5 CRDI 6M/T GL DC 2AB AC: 3
SPACETOURER 2.0 XL BLUEHDI 150 S&S BVM6 BUSINESS: 3
HUNTER 1.9L LUXURY: 3
SANTA FE TM 2.4 AT 4WD VALUE: 3
RAV4 XLE 2.5 4X2 CVT HV AT 2024: 3
T90 2.0L 4X4 AUT: 3
SPACETOURER XL BLUEHDI 150 S&S BVM6 BUSINESS: 3
NAVARA NP300 DC XE 2.3D MT 4WD: 3
NAVARA NP300 DC S 2.5 MT: 3
TEPEE OUTDOOR NUEVA ALLURE 1.6 HDI 92HP 7 ASIENTOS: 3
RAM V700 CITY DIESEL: 3
RANGER XL 4X4 DIESEL: 3
RAV4 2.0 LE MT 2WD: 3
REFINE M4 EXECUTIVE 9 ASIENTOS: 3
L-200 KATANA CRT 4X4: 3
POER 2.0L DELUXE PLUS 4X4 AUT: 3
T8 CE COMFORT 2.0T 4X2 MT 2024: 3
L200 WORK CR 4X2: 3
HR-V LX 1.8 CVT: 3
HILUX SR 2.8 4X4 MT 2024: 3
LAND CRUISER PRADO VX-L LIMITED: 3
HILUX SR 2.7 4X2 MT 2024: 3
L200 DAKAR MT: 3
NEW V80 FL MINIBUS 15+1 E5 DLX: 3
T60 2.8L GL 4X2: 3
SAIL NB 1.5L: 3
SANTA FE TM 2.2 CRDI E6 MT PLUS: 3
RUSH 1.5 XLI AT: 3
SONATA LF HEV AT PREMIUM: 3
PICK UP REFRESH DC 4X2 MT FULL: 3
PICK UP REFRESH DC 4X2 MT WORK: 3
HILUX 4X2 2.7 MT SR GASOLINA: 3
SANTA FE DM  WGN 2.2 CRDI 6M/T GLS PE: 3
SUNRAY 11+1: 3
T6 DIESEL 4X4 COMFORT SMART: 3
HILUX SRV 2.8 4X4 AT 2024: 3
X200 2.0L CAMIONETA LUXURY: 3
D60 LUXURY 7DCT 4X2 AT 2024: 3
700 SLT CD: 3
700 SLT DC: 3
D-MAX CC 2.5TD III: 3
TUCSON TL  2.0 MT 4WD VALUE: 3
VITARA II 1.6 4WD GLS: 3
X200 2.0L CAMIONETA COMFORT: 3
COLORADO 2.8 CTDI LTZ AT: 3
VAN 700 RAPID ST AA: 3
X-TRAIL SENSE CVT: 3
700 1.4L SLT: 3
VAN 1000 CARGO CORTO: 3
BT-50 DOBLE CAB 2.2 SDX HIGH 6MT 4X4 DIESEL (E5): 3
TRANSIT MINIBÚS: 3
V80 MINIBUS 12+1: 3
X-TRAIL EXCLUSIVE M-CVT 4WD: 3
ACTYON SPORTS 2.2 4X4 FULL MT 6AS712: 3
FORTUNER SR5 4X4 TDI 2.8L: 3
ACTYON SPORTS 4X2 MEC NAS610AA: 3
VIGUS WORK 4X4 E6: 3
FRONTIER P/UP 2,5 6MT SR: 3
GRAND VITARA 2.4 GLX NAV: 3
TUCSON TL 2.0 CRDI E6 AT VALUE FL: 3
TIGGO 2 PRO GLS MT: 3
BALENO 1.4 GLS: 3
VERSA SENSE MT 2024: 3
ELANTRA AD 1.6 MT PREMIUM FL: 3
WINGLE5 2.2L ELITE GASOLINA: 3
TUCSON TL 2.0 CRDI E6 AT PLUS FL: 3
COROLLA XEI 2.0 MT: 3
BERLINGO MULTISPACE 1.6 HDI 92 BVM FEEL: 3
COROLLA XEI MT: 3
YARIS 1.5L GLI: 3
VERNA CB 1.4 MT SEL: 3
4RUNNER 4X4 LIMITED : 3
BERLINGO MULTISPACE XL 1,6 BLUEHDI 100 S&S: 2
NEW CAVALIER 1.5 LS MT: 2
BOXER DOBLE CABINA L4 2.0 BLUEHDI 160 HP: 2
AZERA IG  3.0 AT PREMIUM: 2
NEW RAV4 LE CVT 2WD: 2
SPACETOURER BLUEHDI 150 S&S BVM6 BUSINESS TALLA XL 2024: 2
BT-50 DOBLE CABINA 2.2 SDX HIGH 6MT 4X4 DIESEL (E5): 2
NEW MAZDA6 V 2.0L 6AT (CUERO NEGRO): 2
BT-50 DOBLE CABINA 2.2 SDX 6MT 4X2 DIESEL (E5): 2
NEW C-ELYSÉE 1.6 HDI 92 BVM SHINE: 2
BT-50 DOBLE CAB 2.2 SDX 6MT 4X2 DIESEL (E5): 2
BERLINGO MULTISPACE XL 1.6 BLUEHDI 100 BVM 7 P: 2
NEW MAHINDRA SCORPIO SUV 4X4 ABS 2AB: 2
NEW MAHINDRA SCORPIO SUV  4X2: 2
NEW MUSSO GRAND GLX 2.2TD 6AT 2WD: 2
BERLINGO C HDI 92 BVM: 2
NEW MAZDA6 V 2.0L 6AT: 2
WINGLE 6 DIESEL DC 2.0 4X4 ELITE: 2
SOLATI PASAJEROS: 2
H-1 TQ MB 2.5 CRDI AT 12S FL: 2
NAVARA NP300 2.3L XE 4X4 DC AUDIO: 2
CAMRY HYBRID: 2
VIGUS WORK 4X2 E6: 2
VIGUS NEW PLUS 4X2 MT 2024: 2
MUSSO 2.2L LIMITED PLUS AUT 4X4: 2
MUSSO GRAND 2.2L GLX AUT 4X2: 2
VIGUS NEW PLUS 4X4 MT 2024: 2
COROLLA XLI CVT: 2
MUSSO GRAND FULL DIESEL 2.2L MT: 2
N 400 MAX 1.5 L AC P MT 2024: 2
SPORTAGE EX 2.0L 6MT GSL 2024: 2
N300 MAX E5 VAN 1.2 MT AC: 2
COROLLA XEI 2.0 6MT: 2
SPIN LTZ MT 7P: 2
COROLLA CROSS HEV SEG 1.8 HEV AT 2024: 2
COMBO 1.6L HDI L1: 2
NAVARA NP300 DC XE 2.5 MT: 2
COLORADO LT 4X4 MT 2024: 2
NAVARA CD  LE AT 4X4: 2
NAVARA DC SE 2.3D 4X2 MT 2024: 2
VOYAGE 1.6 2AB AA: 2
NAVARA DC XE 2.3D MT: 2
SPIN II 1.8L PREMIER MT: 2
SAVEIRO NUEVA DOBLE CABINA COMFORTLINE: 2
NAVARA NP300 DC LE 2.3D MT 4WD: 2
CARRY PICK UP: 2
VOYAGE TRENDLINE 1.6: 2
WINGLE 5 DIESEL 4X2 CS LUX: 2
WINGLE 5 DIESEL 4X2 DC LUX: 2
SENTRA  SENSE MT: 2
AMAROK COMFORTLINE 4MOTION: 2
NEW TRAILBLAZER PREMIER AT 2.8D 4WD: 2
PARTNER NUEVA 1.6 HDI 90HP PACK AA EV: 2
700 BIGHORN CD 1.3L MT 2024: 2
X200 2.0L PICKUP DC: 2
X200 2.0L CAMIONETA DC: 2
PICK UP REFRESH DC 4X4 MT FULL: 2
RIFTER ALLURE 1.6 BLUEHDI 100 HP MT5: 2
ACCENT 1.4L PLUS: 2
ACCENT HCI 1.4 MT PLUS: 2
WINGLE 7 GL 4X2 ELITE: 2
ACCENT HCI 1.6 AT VALUE: 2
OUTLANDER 4X4 GLS AT: 2
OUTLANDER 4X2 MT: 2
OUTLANDER 4X2 AT: 2
OROCH ZEN 1.6 L: 2
OROCH OROCH  ZEN 1,6L MT 4X2: 2
X200 PICKUP COMFORT: 2
X200 PICKUP LUXURY DOBLE CABINA: 2
5 1.5L CVT DLX 2024: 2
PORTER 2.5 CRDI 6M/T GLS CAMIONETA 2AB: 2
QASHQAI 1.3 ADVANCE MT 2WD: 2
QASHQAI 1.3L EXCLUSIVE CVT 4WD: 2
4RUNNER 4X4 LIMITED: 2
QASHQAI ADVANCE MT: 2
RAV4 LUJO 2.0 4X2 MT: 2
RAV4 LIMITED 2.5 HV CVT 4X4 AT 2024: 2
4RUNNER 4X2 SR5 CONTROL VOLANTE: 2
RAV4 LIMITED 2.5 4X4 AT: 2
4RUNNER 4X2 LIMITED: 2
RANGER DSL XLS 2.0 4X4 MT 2024: 2
RAV4 LE 2.0 4X2 CVT AT 2024: 2
RANGER XLT 4X2 BENCINA: 2
RANGER XLT 4X4 DIESEL: 2
OROCH INTENS 2.0L MT 4X4: 2
OROCH INTENS 2.0 L: 2
OROCH 1.6L ZEN: 2
ALL NEW LEGACY 3.5R AWD CVT LIMITED: 2
NEW VERSA 1.6L ADVANCE MT: 2
NEW VERSA 1.6L SENSE MT: 2
SAVEIRO 1.6L DOBLE CABINA COMFORTLINE: 2
NEW XUV500 FL 4X2 BASE: 2
AMAROK TRENDLINE 4 MOTION: 2
AMAROK COMFORTLINE 4MOTION AT: 2
SUNRAY 13+1: 2
NP300 NAVARA D23 DC XE 2.3D MT - RADIO: 2
X-TRAIL 2.5L ADVANCE AUT: 2
SANTA FE TM 2.4 MT 2F PLUS: 2
NUEVA AMAROK COMFORTLINE 4MOTION AT: 2
NUEVA AMAROK COMFORTLINE 4MOTION MT: 2
ALL NEW MAZDA6 SDN GT 2.5L 6AT: 2
SANTA FE TM 2.4 AT PLUS: 2
NUEVA DOKKER III 1.5 DSL MT AC 2AB: 2
ONIX 1.4 LT MT: 2
SANTA FE TM 2.2 CRDI E6 AT PLUS: 2
ALL NEW CX-5 R 2.0 AWD 6MT: 2
ALL NEW CX-5 R 2.0 2WD 6MT: 2
NUEVA PARTNER 1.6 HDI 90HP L1: 2
NUEVA PARTNER 1.6 HDI 90HP L2: 2
ALL NEW ACCORD 2.0 T AT: 2
SANTA FE DM  WGN 2.4 6A/T 4WD GLS PE: 2
ALASKAN INTENS 4X4 6 MT: 2
X-TRAIL ADVANCE CVT 3ROW 2024: 2
NUEVO VIRTUS 1.6 MT5 TRENDLINE ESC: 2
X-TRAIL E-POWER EXCLUSIVE CVT: 2
X-TRAIL EXCLUSIVE CVT 3ROW - AWD 2024: 2
ACTYON SPORTS 2.2 4X2 MT FULL 6AS612: 2
NV350 WIDE S-LONG SCHOOL BUS 2.5D MT: 2
CRETA GRAND SU2i 2.0 MT PLUS: 2
NAVARA NP300 2.3L SE 4X4 DC: 2
KICKS 1.6L ADVANCE  AUT: 2
GRAND NOMADE 2.4 AT GLX NAV: 2
TUCSON TL 2.0 AT VALUE FL: 2
HILUX 4X2 2.7 MT DX GASOLINA: 2
KYX3 5MT STD MT 2024: 2
HILUX 4X2 2.4 MT SR: 2
T60 DX 4X4 D20: 2
ELANTRA AD 1.6 MT SEL FL: 2
GRAND I-10 BA SDN MT GLS 2AB AC ABS FULL PE: 2
T8 2.0L COMFORT 4X2: 2
L-200 D/C 4X2 TD KATANA CR: 2
TRAILBLAZER 2.8 CTDI 4X4 LTZ AT: 2
ELANTRA AD  1.6 MT VALUE: 2
EDGE SEL 2.0L ECOBOOST: 2
TIGUAN TDI AT COMFORLINE 150HP 4 MOTION: 2
HILUX 2.7L SR GASOLINA CD 4X2: 2
TRACKER II 1.8 FWD LT MT: 2
HILUX 2.7 4X2 MT DX GASOLINA: 2
L200 4X2 KATANA CR WF: 2
TRACKER II 1.8 AWD LT AT: 2
DUSTER LIFE 1,6L 5MT 4X2: 2
DUSTER LIFE 1,6 5MT 4X2: 2
L200 DAKAR HIGH POWER MT: 2
URBAN 1042 MT PLATAFORMA 2024: 2
GRAND VITARA 1.6 GLX: 2
V3 1.5 MT GX COMFORTABLE: 2
EQUINOX 1.5T LS AT FWD: 2
KICKS SENSE MT: 2
GRAND I-10 BA SDN  MT GLS 2AB AC ABS FULL PE: 2
T60 DX/4X2: 2
T60 GLX/4X4 : 2
FRONTIER D/C 2.5L 6MT DELUXE ABS: 2
HILUX SR DC 2.4 4X2 MT 2024: 2
TUCSON TL  2.0 AT 4WD LIMITED: 2
FIORINO CITY  DIESEL: 2
T60 GL 4X4 D20: 2
JIMNY 1.3 JLX AB AC WINCHE: 2
JIMNY 1.3 JLX AB SPORT AC: 2
GOL POWER 1.6 2AB AA: 2
TUCSON TL  2.0 AT VALUE: 2
JIMNY 1.5L GLX: 2
EXPLORER XLT 3.5L 4X2: 2
KICKS 1.6 ADVANCE MT: 2
KICKS 1.6 SENSE MT: 2
TRAVELLER BUSINESS L3 8P BLUEHDI 180 EAT8 2024: 2
T60 T60 DX 4X4: 2
KICKS 1.6L SENSE MT: 2
KICKS ADVANCE CVT: 2
GRAND I-10 AI3 HB 1.2 MT PLUS: 2
GRAND I-10 BA 5DR 1.2 5M/T GLS 2AB AC ABS PE: 2
KICKS ADVANCE CVT 2024: 2
ERTIGA 1.4 GLS: 2
EQUINOX 1.5T LT AT FWD TURBO: 2
T8 PRO LUXURY 4X4 MT 2024: 2
TURISMO L1H1 GL: 2
DUCATO MINIBUS 16+1 L3H2 AA: 2
VENUE QX 1.6 MT VALUE: 2
MARCH SPORT DRIVE AC: 2
HD35 LIGHT DLX PICKUP BARANDAS ALTAS RECICLAJE: 2
MARCH SPORT II DRIVE AC: 2
MAVERICK LARIAT 2.5L FHEV 4X2: 2
V700 RAPID 1.4L 2024: 2
T90 E6 4X4 AT 2024: 2
D1 LUXURY 4X4 MT: 2
HD35 LIGHT CARROCERIA TERMICA Y EQUIPO DE FRIO: 2
T6 BENCINA 4X2 COMFORT: 2
T60 4X4 ANCAP MT E6: 2
HD35 CARGA GENERAL: 2
MONTANA 1.2 T LT MT 2024: 2
H6 ELITE 2WD AT 2024: 2
SWIFT SEDAN DZIRE SEDAN 1.2 GL: 2
SWIFT 1.2 GA AC: 2
H-1  MB 2.5 CRDI 6M/T GLS 10S AC 2AB: 2
TIGGO 2 1.5L GLS MT: 2
H-1 TQ FG 2.5 CRDI MT DOBLE PUERTA FL: 2
TIGGO 8 1.5L GL: 2
FT 500 LUX 4X4: 2
L200 WORK CR 4X2 SC: 2
LEAF: 2
T8 XE ADVANCE 2.0T 4X4 MT 2024: 2
L200 WORK 2.4L 4X2: 2
T60 ANCAP E6 4X4 MT 2024: 2
HIACE TURISMO L2H2 GL: 2
HIACE TURISMO L1H1 GL: 2
TIGGO 8 1.5L GLS: 1
RAV4 LE 2.5 4X2 CVT HV: 1
S60 D2 COMFORT: 1
REFINE 1.9L EXECUTIVE 10PAS: 1
S3 1.6L COMFORT SMART: 1
X-TRAIL SENSE 2ROW 4X2 G2: 1
TIGGO 7 PRO 1.5L GLS AUT: 1
TEPEE ALLURE 1.6 HDI 92 HP: 1
TIGUAN TSI MT TRENDLINE 150HP: 1
TIVOLI LX 1.6 6MT 2WD: 1
S3 1.6L COMFORT: 1
YARIS SPORT GLE MT: 1
X-TRAIL SENSE 2ROW 4X2: 1
TRAVERSE 3.6L LT AWD AT 2024: 1
RAV4 LE 2.0 4X4 MT: 1
RAV4 LE 2.0 4X2 MT: 1
TIGUAN TDI AT LIMITED 4M 150HP: 1
TRANSPORTER CARGA TECHO BAJO: 1
TRAVERSE 3.6L LT FWD: 1
YARIS SPORT SPORT MT: 1
TIGGO 3 1.5L GLS: 1
T60 SC DX E6 4X2 MT 2024: 1
RAV4 2.5L XLE 4X4 AUT: 1
ZS 1.5L STD 2024: 1
ZX 1.5L DLX 2024: 1
SAIL NB 1.5L LTZ CVT 2024: 1
S2 COMFORT SMART 1.5 MT: 1
TORRES LIMITED PLUS 1.5T 4WD SUNROOF AT 2024: 1
S-PRESSO 1.0L GLX AC: 1
T8 2.0L ADVANCE 4X4: 1
YARIS SEDAN LEI H CVT: 1
RUSH 1.5 XEI AT: 1
RAV4 XLE 2.5 4X2 CVT HV: 1
TRAILBLAZER 2.8TD PREMIER AT 4WD: 1
RUSH LEI 4X2 MEC: 1
RAV4 XLE 2.0 4X2 CVT AT 2024: 1
RAV4 SUPER LUJO 2.5 4X4 AT: 1
RAV4 SUPER LUJO 2.5 4X2 AT: 1
XUV300 MT COMFORT 2024: 1
TRAILBLAZER PREMIER AT 2.8D AWD L: 1
TIGGO 7 PRO 1.5L GLX AUT: 1
X-TRAIL SENSE 2ROW 4X4 G2: 1
RUSH MEC 4X2: 1
SANTA FE DM  WGN 2.2 CRDI 6A/T 4WD GLS FULL PE: 1
RAV4 SUPER LUJO 2.0 4X2 CVT: 1
RIFTER 1.2L ALLURE PURETECH 130 EAT8: 1
RICH DIESEL DIESEL 4X4: 1
REXTON YRX301 4X2: 1
TAHOE 5.3L LT 4X4: 1
S-CROSS II 1.6 4WD AT LIMITED: 1
RENEGADE 1.8L SPORT LX: 1
RAV4 LUJO 2.0 4X2 CVT: 1
RAV4 XSE 2.5 4X2 CVT HV AT 2024: 1
X25 1.5 MT COMFORTABLE: 1
RIFTER ALURE BlUEHDi 100 MT 2024: 1
RUSH MEC 4X4: 1
SUNRAY 13+1 LIMITED: 1
SANTA FE DM  WGN 2.2 CRDI 6A/T 4WD GLS PE: 1
T60 GLX 4X4 D20: 1
VITO TOURER 114 CDI 10 ASIENTOS: 1
T60 2.8L GL 4X2 AUT: 1
VAN 700 RAPID 1,4L ST: 1
TIGGO 2 GL MT: 1
SPIN II 1.8L PREMIER AT: 1
SPIN 1.8L PREMIER 7P MT 2024: 1
V90 MINIBUS 15+1 A3: 1
V80 FL MINIBUS 15+1 CON RAMPA HIDRÁULICA MINUSVÁLIDOS: 1
WINGLE 5 DIESEL 2.0 VGT 4X2 LUX: 1
V80 CARGO 11,5: 1
SPIN 1.8 LTZ MT: 1
SPARK GT 1.2L LT AC: 1
SPARK GT 1.2 II MT LT AC: 1
V80 12+1: 1
WINGLE 5 DIESEL DOBLE CAB 2.0 4X4 LUX: 1
WINGLE 5 GASOLINA 4X2 DELUXE: 1
WINGLE 6 DIESEL 4X4 DELUXE: 1
WINGLE 6 DIESEL DC 2.0 4X4 DELUXE: 1
SORENTO EX 2.5L GSL 6AT AWD FULL: 1
VITARA II 1.6 4WD GLX: 1
T60 2.8L DX 4X2 CS: 1
VITARA 1.6L GLS: 1
SUNRAY 17+1 LIMITED: 1
SUNRAY 14+1 CUMMINS: 1
SUNRAY 16+1: 1
SUNRAY 1.9 CARGO : 1
SUCCE PASAJERO: 1
SUNRAY 16+1 CUMMINS: 1
SUNRAY 17+1: 1
SUBURBAN  LT IV 5.3L 4WD PCK: 1
VERSA SENSE CVT 2024: 1
SUNRAY 21+1 ESCOLAR: 1
SPIN LTZ AT 7P: 1
SUNRAY 27+1 ESCOLAR CUMMINS: 1
SPRINTER 316 CDI 14M3: 1
SYMBOL ZEN: 1
SPORTAGE C LX 2.0L GSL 6MT 2WD: 1
VERSA 1.6L DRIVE MT: 1
T6 BENCINA 4X2 LUXURY: 1
T6 DIESEL 4X4 COMFORT: 1
T6 DIESEL 4X4 LUXURY: 1
SONET EX 1.5L IVT ACC PLUS 2024: 1
T60 D20 2.0L GLX 4X4 AUT: 1
TURISMO L2H2 GL: 1
TUCSON TL  2.0 MT PLUS: 1
SANTA FE TM 2.5 AT 4WD VALUE FL: 1
WINGLE5 2.0L LUX CD 4X4 DIESEL: 1
TUCSON TL 2.0 AT PLUS FL: 1
TUCSON TL  2.0 MT VALUE: 1
WR-V EXL 1.5 CVT: 1
WR-V LX 1.5 MT: 1
X-TRAIL  2.5 EXCLUSIVE CVT AWD 3ROWS: 1
VERSA V-DRIVE MT: 1
T60 E6 GLX 4X4 AT 2024: 1
WINGLE5 2.0L LUX CD 4X2 DIESEL: 1
SANTA FE TM 2.4 AT VALUE: 1
T60 GL 4X2: 1
X-TRAIL 2.5L EXCLUSIVE AUT 3FILAS 4X4: 1
SANTA FE TM 2.2 CRDI E6 AT VALUE: 1
SANTA FE TM 2.2 CRDI AT PLUS FL: 1
X-TRAIL 2.5L SENSE AUT 2FILAS: 1
X-TRAIL 2.5L SENSE AUT 3FILAS: 1
T60 GL/4X4 : 1
SANTA FE TM 2.5 AT VALUE FL: 1
SAVEIRO NUEVA CABINA EXTENDIDA 1.6 MT COMFORT: 1
WINGLE 6 GASOLINA 2.4 G 4X4 ELITE: 1
SOLATI H350 CARGO VAN: 1
WINGLE 6 GASOLINA 4X2 ELITE: 1
WINGLE 6 GASOLINA 4X4 ELITE: 1
TUNDRA 4X4 SR5: 1
TUNDRA 4X4 S/SUNROOF: 1
SOLATI H350 PASAJEROS ESCOLAR: 1
SOLATI H350 PASAJEROS / RAMPA HIDRAULICA: 1
SOLATI H350 CARGO VAN : 1
TUCSON TL 2.0 CRDI MT VALUE FL: 1
SILVERADO LTZ CC 5.3L 4WD Z71: 1
SAVEIRO NUEVA CABINA SIMPLE 1.6 MT POWER: 1
SILVERADO LTZ CC 5.3L 4WD: 1
SILVERADO CC LT TB 5.3L L: 1
SENTRA ADVANCE CVT 2024: 1
T60 DX 4X2 CS: 1
TUCSON TL 2.0 CRDI E6 AT 4WD LIMITED FL: 1
SELTOS EX 1.4L 7DCT TURBO FULL 2024: 1
SELTOS 1.6L EX FULL: 1
SAVEIRO NUEVA CABINA SIMPLE 1.6 MT POWER PLUS: 1
1500 CREW CAB LIMITED 5.7L AT 2024: 1
NEW EQUINOX 1.5T LS AT FWD: 1
RANGER XL 4X2 DIESEL: 1
CS15 1.5L COMFORT MT 2024: 1
EDGE SEL 2.0 ECOBOOST FWD: 1
EDGE SEL ECOBOOST 2.0L: 1
ELANTRA AD  1.6 AT PREMIUM: 1
ELANTRA AD  1.6 MT PREMIUM: 1
ELANTRA AD 1.6 AT PREMIUM FL: 1
ELANTRA AD 1.6 MT VALUE: 1
ELANTRA CN7 2.0 AT E6 PREMIUM: 1
ERTIGA 1.4 GLX: 1
ESCAPE S 2.0L 4X2 DIESEL: 1
EXPLORER ECOBOOST 2.3L 4X2: 1
EXPLORER XLT 4X4 3.5L: 1
F 150 XLT CC 4X4 5.0L: 1
FIORINO CITY DIESEL: 1
FORTUNER 2.8L TDI SR5 4X4: 1
FORTUNER SR5 TDI 2.8 MT: 1
FORTUNER SRX 4X4 TDI 2.8L: 1
FRONTIER D/C 2.5L 6MT ABS: 1
ECOSPORT S 1.5L MT: 1
DZIRE SEDAN 1.2 GL: 1
DUSTER ZEN TECH 2,0L 6MT 4X4: 1
DOKKER 1.6 GSL FURGON MT AC 2 AB ESP: 1
CX-5 2.5L GT AWD AUT: 1
CX70 LUXURY: 1
D1 LUXURY 4X4 MT 2024: 1
D60 ELITE 7DCT 4X2 AT 2024: 1
DELIVER 9 CARGO L2H2 2024: 1
DMAX III R 2.5TD 2WD L: 1
DMAX III R 2.5TD 4WD L: 1
DUCATO MAXI CARGO L1 H1 AA(8MT3): 1
DUSTER ZEN TECH 2,0 6MT 4X2: 1
DUCATO MAXI CARGO L2 H2 AA (11,5MT3): 1
DUCATO MINIBUS 16 + 1 L3H2 AA: 1
DUCATO MINIBUS 16+1 L3 H2 DOBLE AA: 1
DUCATO MINIBUS 16+1 L3H2 DOBLE AA: 1
DURANGO SXT AWD: 1
DUSTER LIFE 1.6L 5MT 4X2: 1
DUSTER ZEN 1,6L 5MT 4X2: 1

In [ ]:
def clean_modelo(modelo):
    """
    Clean the 'Modelo' string by applying the following transformations:
    1. Keep the first and second words (if they exist).
    2. Remove any subsequent word that:
       a. Begins with a number.
       b. Has only two characters.
    3. Do not keep more than 2 words in total.
    4. Join the remaining words back into a single string.

    """
     # Split the string into words
    words = modelo.split()

    # Keep the first two words (if they exist)
    base_words = words[:2]

    # Filter subsequent words (starting from the 3rd)
    # Only keep words with length > 2 and that do NOT start with a digit
    subsequent_words = [
        w for w in words[2:]
        if len(w) > 3 and not w[0].isdigit()
    ]

    # Combine the base words with the filtered subsequent words
    cleaned_words = base_words + subsequent_words
    
    # Truncate the list to the first four words
    cleaned_words = cleaned_words[:2]
    
    # Join them back into a string
    return ' '.join(cleaned_words)
    

# Convert the 'Modelo' column to strings and handle NaNs
df['Modelo_simplified'] = df['Modelo'].astype(str)
# Apply the cleaning function to the 'Modelo' column
df['Modelo_simplified'] = df['Modelo_simplified'].apply(clean_modelo)


modelos = df.value_counts('Modelo_simplified')
for modelo, count in modelos.items():
    print(f'{modelo}: {count}')

#df['merge_var'] = df['Marca'] + ' ' + df['Tipo de Producto'] + ' ' + df['Modelo']
df['merge_var'] = df['Marca'] + ' ' + df['Modelo_simplified']

NP300 DC: 216
H-1 TQ: 180
HILUX 2.4: 126
T60 DX: 121
HILUX 2.4L: 117
TUCSON NX4: 97
HILUX 4X4: 84
FRONTIER D/C: 79
VIGUS WORK: 76
NAVARA 2.3D: 73
T60 2.8L: 69
NAVARA NP300: 67
TUCSON TL: 61
POER 2.0L: 53
L200 4X4: 53
WINGLE 5: 52
SANTA FE: 50
HILUX DX: 43
NEW RAV4: 43
NAVARA CD: 42
T60 4X4: 41
PORTER 2.5: 40
BT-50 DOBLE: 37
NAVARA DC: 37
COLORADO LT: 36
CRETA GRAND: 33
NEW DMAX: 33
VIGUS DOBLE: 32
SAIL NB: 30
H-1 MB: 30
X-TRAIL SENSE: 29
RAV4 LUJO: 29
VENUE QX: 29
X-TRAIL 2.5L: 28
GRAND I-10: 28
L200 4X2: 28
HILUX 4X2: 26
ALL NEW: 25
NEW RANGER: 25
KICKS 1.6L: 24
WINGLE7 2.0L: 22
L200 KATANA: 22
DMAX CC: 21
D-MAX CC: 20
NEW D-MAX: 20
TRANSIT MINIBUS: 19
MUSSO GRAND: 19
700 1.4L: 19
L-200 D/C: 19
4RUNNER 4X4: 18
NEW MAZDA6: 18
AMAROK TRENDLINE: 18
TRAVELLER BUSINESS: 17
HUNTER 1.9L: 17
GRAND NOMADE: 17
HILUX 2.7: 16
TIGGO 2: 16
VERSA SENSE: 16
AZERA IG: 15
GRAND VITARA: 15
WIDE S-LONG: 15
HILUX SR: 15
VIGUS NEW: 15
FRONTIER P/UP: 15
NUEVO YARIS: 14
PICK UP: 14
T90 4X4: 14
MONTERO SPORT: 14
ACTYON SPORTS: 14
COLORADO 2.8: 13
RAV4 2.0L: 13
STARIA MB: 13
SOLATI H350: 12
NUEVA L200: 12
WINGLE 7: 12
ACCENT RB: 12
VIGUS PLUS: 11
ELANTRA AD: 11
T60 DX/4X4: 11
DUSTER ZEN: 11
T6 2.0L: 11
OUTLANDER 4X4: 11
OUTLANDER 2.5L: 10
NV350 WIDE: 10
T60 4X2: 10
NUEVA AMAROK: 10
X200 2.0L: 10
X-TRAIL EXCLUSIVE: 10
T8 2.0L: 9
CRETA GS: 9
CRETA SU2I: 9
RUSH LEI: 9
4X2 2.4: 9
TRACKER II: 9
G10 MINIBUS: 9
COLORADO 2.8TD: 9
QASHQAI SENSE: 8
KICKS ADVANCE: 8
NEW MAHINDRA: 8
700 SLT: 8
SPACETOURER 2.0: 8
COROLLA XEI: 8
VERNA CB: 8
T60 D20: 8
C-ELYSÉE 1.6: 7
SAVEIRO DOBLE: 7
WINGLE 6: 7
REFINE M4: 7
HD35 LIGHT: 7
URBAN 1042: 7
T60 E6: 7
L200 WORK: 7
BERLINGO MULTISPACE: 7
QUBO DYNAMIC: 7
NV350 2.5L: 6
KICKS SENSE: 6
NEW VERSA: 6
N300 MAX: 6
MIDI DOBLE: 6
POER 4X4: 6
T60 GL: 6
L200 DAKAR: 6
ACCENT BN7I: 6
MS201 1.2L: 6
POER 4X2: 5
NUEVA DOKKER: 5
RAV4 XLE: 5
L-200 2.4L: 5
AMAROK COMFORTLINE: 5
GRAND AVENUE: 5
NUEVA PARTNER: 5
OROCH INTENS: 5
T6 DIESEL: 5
NEW V80: 5
SUNRAY 1.9L: 5
SAVEIRO NUEVA: 5
RAV4 LE: 5
MONTANA 1.2: 5
DUCATO MINIBUS: 5
SONET EX: 5
N400 MAX: 5
4RUNNER 4X2: 5
DUSTER LIFE: 5
YARIS SEDAN: 5
OUTLANDER 4X2: 5
KICKS 1.6: 4
MARCH SPORT: 4
SOLUTO LX: 4
ATOS 1.1L: 4
L-200 KATANA: 4
ASX 4X2: 4
OROCH ZEN: 4
ACCENT HCI: 4
NV350 BUS: 4
X200 PICKUP: 4
NEW C-ELYSÉE: 4
JUMPER L3H2: 4
RANGER XLT: 4
RAV4 LIMITED: 4
3008 1.2L: 4
RANGER XL: 4
EDGE SEL: 4
VAN 700: 4
EQUINOX 1.5T: 4
FORTUNER SR5: 4
VITARA II: 4
G10 9+1: 4
CROSSTREK 2.0I: 4
QASHQAI 1.3L: 4
T60 GL/4X2: 4
H-350 FURGON: 4
HIACE TURISMO: 4
IONIQ EV: 4
JIMNY 1.3: 4
RUSH 1.5: 4
SPIN LTZ: 3
NUEVO VOYAGE: 3
RAM V700: 3
FIORINO CITY: 3
V80 MINIBUS: 3
MS201 PICK: 3
EXPLORER XLT: 3
RANGER DSL: 3
T8 CE: 3
VAN 1000: 3
ERTIGA 1.4: 3
WINGLE5 2.2L: 3
TRANSIT MINIBÚS: 3
NP300 NAVARA: 3
SONATA LF: 3
YARIS 1.5L: 3
D1 LUXURY: 3
JIMNY 1.5: 3
D60 LUXURY: 3
RAV4 2.0: 3
NEW MUSSO: 3
T90 2.0L: 3
HR-V LX: 3
SPIN II: 3
FT 500: 3
HD35 STD: 3
COROLLA CROSS: 3
RIFTER ALLURE: 3
LAND CRUISER: 3
COROLLA XLI: 3
T6 BENCINA: 3
RAV4 SUPER: 3
GRANDLAND X: 3
TIGUAN TDI: 3
TIGGO 8: 3
SUNRAY 13+1: 3
CAPTIVA 1.5L: 3
ONIX 1.4: 3
SUNRAY 11+1: 3
TEPEE OUTDOOR: 3
BALENO 1.4: 3
HILUX SRV: 3
SPACETOURER XL: 3
T60 DX/4X2: 2
T60 ANCAP: 2
NEW TRAVERSE: 2
NUEVO VIRTUS: 2
QASHQAI EXCLUSIVE: 2
SILVERADO LTZ: 2
SENTRA SENSE: 2
SAVEIRO 1.6L: 2
SPACETOURER BLUEHDI: 2
S3 1.6L: 2
SPARK GT: 2
RUSH MEC: 2
SPORTAGE EX: 2
QASHQAI ADVANCE: 2
OROCH 1.6L: 2
NUEVA BOXER: 2
SUNRAY 16+1: 2
SUNRAY 17+1: 2
SWIFT 1.2: 2
PIK UP: 2
SWIFT SEDAN: 2
PARTNER NUEVA: 2
OROCH OROCH: 2
QASHQAI 1.3: 2
SOLATI PASAJEROS: 2
NEW XUV500: 2
NEW TRAILBLAZER: 2
CR-V TOURING: 2
CRETA SU2ID: 2
CRETA SU2id: 2
DMAX III: 2
DUCATO MAXI: 2
V700 RAPID: 2
GOL POWER: 2
COMBO 1.6L: 2
TURISMO L1H1: 2
GRAND S3: 2
GRAND SANTA: 2
TUNDRA 4X4: 2
H6 ELITE: 2
HD35 CARGA: 2
COMPASS 2.4L: 2
VOYAGE 1.6: 2
HILUX 2.8: 2
X-TRAIL ADVANCE: 2
YARIS SPORT: 2
5 1.5L: 2
700 BIGHORN: 2
ACCENT 1.4L: 2
ALASKAN INTENS: 2
X-TRAIL E-POWER: 2
BERLINGO C: 2
VOYAGE TRENDLINE: 2
BOXER DOBLE: 2
BT-50 2.2L: 2
WINGLE5 2.0L: 2
CAMRY HYBRID: 2
CAPTIVA LT: 2
CARRY PICK: 2
HILUX 2.7L: 2
V3 1.5: 2
TRAVERSE 3.6L: 2
KYX3 5MT: 2
L 200: 2
N 400: 2
T8 PRO: 2
LEAF: 2
NEW CAVALIER: 2
NEW CX-3: 2
T60 T60: 2
T8 XE: 2
KICKS EXCLUSIVE: 2
T60 GLX/4X4: 2
M 201: 2
TRAILBLAZER 2.8: 2
M4 1.5: 2
T90 E6: 2
JIMNY 1.5L: 2
MAVERICK LARIAT: 2
TIGGO 7: 2
MUSSO 2.2L: 2
SPIN 1.8: 1
SPIN 1.8L: 1
X-TRAIL 2.5: 1
WR-V EXL: 1
WR-V LX: 1
TEPEE ALLURE: 1
T60 SC: 1
SORENTO EX: 1
X25 1.5: 1
XUV300 MT: 1
T60 GLX: 1
T60 GL/4X4: 1
ZS 1.5L: 1
TAHOE 5.3L: 1
VITO TOURER: 1
TIGGO 3: 1
SPORTAGE C: 1
SUNRAY 27+1: 1
TRANSPORTER CARGA: 1
SUNRAY 14+1: 1
TRAILBLAZER PREMIER: 1
TRAILBLAZER 2.8TD: 1
TURISMO L2H2: 1
SYMBOL ZEN: 1
V80 12+1: 1
V80 CARGO: 1
SUNRAY 1.9: 1
V80 FL: 1
SUCCE PASAJERO: 1
V90 MINIBUS: 1
VERSA 1.6L: 1
TIVOLI LX: 1
VERSA V-DRIVE: 1
SUBURBAN LT: 1
VITARA 1.6L: 1
TIGUAN TSI: 1
SUNRAY 21+1: 1
SPRINTER 316: 1
TORRES LIMITED: 1
1500 CREW: 1
SILVERADO CC: 1
SENTRA ADVANCE: 1
DELIVER 9: 1
DOKKER 1.6: 1
DURANGO SXT: 1
DZIRE SEDAN: 1
ECOSPORT S: 1
ELANTRA CN7: 1
ESCAPE S: 1
EXPLORER ECOBOOST: 1
F 150: 1
FORTUNER 2.8L: 1
FORTUNER SRX: 1
G10 CARGO: 1
G90 MINIBUS: 1
GOL COMFORTLINE: 1
GOL TRENDLINE: 1
GRAND CARNIVAL: 1
GRAND I10: 1
GROOVE LT: 1
H-1 MINIBUS: 1
H6 4X4: 1
HILUX 2.8L: 1
HS 1.5T: 1
I20 IB: 1
IGNIS 1.2: 1
IONIQ 5: 1
JS3 XE: 1
JS4 COMFORT: 1
KANGOO L1: 1
KORANDO LX: 1
D60 ELITE: 1
CX70 LUXURY: 1
CX-5 2.5L: 1
ASX 1.6L: 1
3008 ACTIVE: 1
301 ALLURE: 1
301 NUEVO: 1
4RUNNER SR5: 1
508 ALLURE: 1
6 2.0L: 1
6 SDN: 1
700 ADVENTURE: 1
A500 LUXURY: 1
ACTYON SPORT: 1
ALSVIN COMFORT: 1
APV 1.6: 1
APV FURGON: 1
ASX 4X4: 1
CX-5 2.0L: 1
BOXER FURGÓN: 1
BOXER FURGíN: 1
BT-50 CORE: 1
C30 CLASSIC: 1
CAMRY HIBRIDO: 1
CAPTUR LIFE: 1
CIAZ SEDAN: 1
CITAN 109: 1
COLORADO 2.8L: 1
COLORADO LTZ: 1
COMMANDER LIMITED: 1
CRUZE HB: 1
CS15 1.5L: 1
L-200 -D/C: 1
LANDTREK ACTIVE: 1
LEGACY 2.5I: 1
RAM VAN: 1
PALISADE LX2: 1
PARTNER MAXI: 1
PATHFINDER ADVANCE: 1
PILOT ELITE: 1
PLUS AIRE: 1
POER PLUS: 1
PORTER 2.5L: 1
PRISMA 1.4: 1
PRIUS: 1
PRIUS PRIUS: 1
QASHQAI 2.0L: 1
QASHQAI ADVANCE-M: 1
RAM 700: 1
RAV4 2.5L: 1
ONIX 1.0: 1
RAV4 XSE: 1
REFINE 1.9L: 1
RENEGADE 1.8L: 1
REXTON YRX301: 1
RICH DIESEL: 1
RIFTER 1.2L: 1
RIFTER ALURE: 1
S-CROSS II: 1
S-PRESSO 1.0L: 1
S2 COMFORT: 1
S60 D2: 1
SELTOS 1.6L: 1
SELTOS EX: 1
OUTLANDER 2.0L: 1
NV350 S-LONG: 1
M201 1.2L: 1
NEW CX-9: 1
M201 FURGÓN: 1
MD201 DOBLE: 1
MD201 MT: 1
MD201 PICK: 1
MG ZS: 1
MIDI CARGO: 1
MIDI PLUS: 1
MIDI REFRIGERADO: 1
MIDI TRUCK: 1
MONTANA LS: 1
MORNING C: 1
MURANO EXCLUSIVE: 1
MUSSO GLX: 1
NEW EQUINOX: 1
NV350 CARDO: 1
NEW H-1: 1
NEW OUTLANDER: 1
NEW QASHQAI: 1
NEW S-CROSS: 1
NEW S3: 1
NEW SPIN: 1
NG TRAVERSE: 1
NQR 919: 1
NUEVA X-TRAIL: 1
NUEVO ASX: 1
NUEVO SORENTO: 1
NUEVO T-CROSS: 1
NUEVO TIGUAN: 1
ZX 1.5L: 1

### 2. reduce number of models in web/scraped data

In [275]:
df_char = pd.read_csv("../6_car_analysis/csvs/scraped_data.csv")  

# Convert the 'Modelo' column to strings and handle NaNs
df_char['simplified_model'] = df_char['model'].astype(str)
# Apply the cleaning function to the 'Modelo' column
df_char['simplified_model'] = df_char['simplified_model'].apply(clean_modelo)


# --- 1. Remove unwanted words from `simplified_model` ---
words_to_remove = ['highline', 'ltz', 'xlt', 'xls', 'elite', 'plus', 'luxury', 'comfort', 'pick', 'pick-up', 'high', 'z71', 'diesel', 'sport', 'ltd', 'limited', '-up', 'premier', 'advance', ]
# Build a pattern that matches these words as whole words (case-insensitive)
pattern = r'\b(?:' + '|'.join(words_to_remove) + r')\b'

df_char['simplified_model'] = (
    df_char['simplified_model']
      # (optional) convert to lowercase to make matching easier
      .str.lower()  
      # remove each unwanted word if it appears as a separate word
      .str.replace(pattern, '', regex=True)
      # collapse extra spaces
      .str.replace(r'\s+', ' ', regex=True)
      # strip leading/trailing spaces
      .str.strip()
)

In [276]:
# --- 2. Group by the cleaned `simplified_model` and keep one row per group ---
# We will define a function to pick the "most common non-NaN" value in each column
def most_common_nonan(series):
    """Return the most frequent non-NaN value in `series`, or NaN if all are NaN."""
    s_no_nan = series.dropna()
    if len(s_no_nan) == 0:
        return np.nan
    else:
        # value_counts() sorts by freq desc by default; take the index of the top.
        return s_no_nan.value_counts().idxmax()

store_df = df_char.copy()

# Apply the aggregator to every column
# This will produce one row per unique `simplified_model`
df_char = (
    df_char
    .groupby('simplified_model', dropna=False)
    .agg(most_common_nonan)
    .reset_index()  # if you want `simplified_model` as a column instead of index
)

df_char['merge_var2'] = df_char['simplified_model']

In [277]:
import pandas as pd
from fuzzywuzzy import process, fuzz

# Prepare data for merge
df['merge_var'] = df['merge_var'].fillna('').astype(str).str.lower()
df_char['merge_var2'] = df_char['merge_var2'].fillna('').astype(str).str.lower()

def best_fuzzy_match(df1, df2, key1, key2, threshold):
    """
    For each row in df1, find the closest match in df2 based on a similarity score.
    
    Parameters:
    - df1: The DataFrame containing the base rows to match.
    - df2: The DataFrame containing the candidate rows to match.
    - key1: Column in df1 to use for matching.
    - key2: Column in df2 to use for matching.
    - threshold: Minimum similarity score to include a match.

    Returns:
    - DataFrame with matches and similarity scores.
    """
    matches = []
    for i, row in df1.iterrows():
        # Find the best match in df2 for the current row in df1
        best_match = process.extractOne(row[key1], df2[key2], scorer=fuzz.token_sort_ratio)
        if best_match and best_match[1] >= threshold:
            matches.append({
                key1: row[key1],  # Original value from df1
                key2: best_match[0],  # Best match from df2
                'similarity': best_match[1],  # Similarity score
                'row_id_df': row.name,  # Preserve df1 row index
                'row_id_df_char': df2[df2[key2] == best_match[0]].index[0]  # Match df2 row index
            })
    return pd.DataFrame(matches)

# Perform the fuzzy matching
threshold = 60  # Set your similarity threshold
result = best_fuzzy_match(df, df_char, key1='merge_var', key2='merge_var2', threshold=threshold)

# Merge the results back with the original DataFrames
final_result = result.merge(df, left_on='row_id_df', right_index=True, how='left') \
                     .merge(df_char, left_on='row_id_df_char', right_index=True, how='left', suffixes=('_df', '_df_char'))

# Display the final merged DataFrame
print(final_result.shape) #with .7 there are 3463 rows, with . 6 there are 3894 rows

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

(3894, 157)

In [278]:
final_result.to_csv(os.path.join(output_path, 'transac_with_chars.csv'), index=False)